/*font-family: 'Bebas Neue', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root{
  --heading-font-family: font-family: 'Roboto', sans-serif; 
  --body-font-family: font-family: 'Quicksand', sans-serif;
  --special-font-heading: font-family: 'Bebas Neue';
}

.dots{
  background-image: url('/img-icons/dots.png');
  background-repeat: no-repeat;
  position: relative;
  background-color: #F2FBF3;
}

body{
  background-color: #F2FBF3;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 50px;
  color: #000000;
}

h3 {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 22px;
}

h2 {
  font-family: var(--special-font-heading);
  font-size: 33px;
  color:#95D071;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

ul{
  list-style: none;
}

.icon-padding{
  padding-left: 4px;
  padding-bottom: 2px;
  
}
.heading{
  margin: 30px;
  margin-top: 8%;
  margin-left: 7%;
  padding: 20px;
  margin-bottom: 50px;
}

.text-padding{
  padding-right: 55%;
  margin-top: 15px;
}

.socials-list-link{
  margin-left: 6%;
 
 
}

