/*font-family: 'Bebas Neue', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root{
  --heading-font-family: font-family: 'Roboto', sans-serif; 
  --body-font-family: font-family: 'Quicksand', sans-serif;
  --special-font-heading: font-family: 'Bebas Neue';
}

.dots{
  background-image: url('/img-icons/home-page.png');
  background-repeat: no-repeat;
  background-color: #F2FBF3;
  


}

body{
  background-color: #F2FBF3;
  margin-left: 7%;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 80px;
  color: #000000;
  
}

h3 {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 32px;
  
}

h2 {
  font-family: var(--special-font-heading);
  font-size: 53px;
  color:#95D071;
  
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  
}

ul{
  list-style: none;
}

/*.intro{
  margin-bottom: 25%;
}*/


.heading{
  margin: 30px;
  margin-top: 20%;
  padding: 20px;
  margin-bottom: 50px;
}

.text-padding{
  padding-right: 55%;
  margin-top: 15px;
  
}






